<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Engine</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script>
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><h4>NetFlask</h4></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/popular_movies">Popular</a></li>
            <li class="active"><a href="/highest_rated">Highest Rated</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>
<!-- Dropdown Trigger -->
<h5>Select Minimum number of Ratings</h5>
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="/highest_rated/50">50</a></li>
    <li><a href="/highest_rated/100">100</a></li>
    <li><a href="/highest_rated/150">150</a></li>
</ul>

<!-- Dropdown Structure -->
<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Choose</a>
</body>
</html>