<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation Engine</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><h4>Sign Up</h4></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/popular_movies">Popular</a></li>
            <li><a href="/highest_rated">Highest Rated</a></li>
            <li><a href="/login">Login</a></li>
            <li class="active"><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>
<div class="container">
  <h3>Sign Up For Our Service Today!</h3>
  <br>
  <form action="/signup" method="POST">
    {{form.username.label}} : {{form.username}}
    <br>
    {{form.email.label}} : {{form.email}}
    <br>
    {{form.password.label}} : {{form.password}}
    <br>
    {{form.confirm.label}} : {{form.confirm}}
    <br>
    {{ form.accept_tos(value='n') }} {{form.accept_tos.label}}
    <hr>
     <button class="btn waves-effect waves-light" type="submit" name="action">{{form.submit}}
       <i class="material-icons right">send</i>
     </button>
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
  {% endif %}
</div>
</body>
</html>
